.container {
  display: flex;
  align-items: flex-end;
  color: var(--color-logo-text);

  &__title {
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    font-size: 0.7rem;
    margin-right: 1.5rem;
    margin-bottom: 0.25rem;
  }
}

.control {
  &__head {
    display: flex;
    gap: 0.9rem;
    margin-bottom: 0.25rem;
    margin-left: 0.6rem;
  }

  &__pill {
    background-color: var(--color-keypad-bg);
    padding: 0.25rem 0.5rem;
    border-radius: 1rem;
    display: flex;
    gap: 0.5rem;
  }

  &__button {
    height: 0.8rem;
    width: 0.8rem;
    border: none;
    border-radius: 100%;
    cursor: pointer;
    background-color: transparent;
    transition: all 0.2s;

    &--active {
      background-color: var(--color-equal);
    }
  }
}
