.button {
  padding: 1rem;
  font-size: var(--number-size);
  border-radius: 0.5rem;
  border: none;
  background-color: var(--color-key-bg);
  cursor: pointer;
  color: var(--color-text);
  box-shadow: 0px 5px 0px 0px var(--color-key-shadow);

  &--big {
    grid-column: span 2;
  }

  &--reset {
    color: var(--color-white);
    background-color: var(--color-reset-bg);
    font-size: 1.5rem;
    box-shadow: 0px 5px 0px 0px var(--color-reset-shadow);
  }

  &--equal {
    color: var(--color-white);
    background-color: var(--color-equal);
    box-shadow: 0px 5px 0px 0px var(--color-equal-shadow);
  }
}
